[2015-11-11 02:19] NicholasAzar opened #1 "Model maintaining previous fields when switching examples"
I'll be looking into this to get use to the code

[2015-11-11 12:40] stevehu commented on #1
Yes. I realized that. And if you update form and schema on the ace editor, not all the changes will be reflected on the form:) It looks like we need to have a way to redraw the entire schema form once anything is changed.

[2015-11-11 14:44] #1 closed

[2015-12-08 04:09] stevehu opened #2 "MuiStyle.css is not included in the published lib folder under material-ui"
It looks like a build script issue that not all files from src are copied.

[2015-12-08 22:17] #2 closed

[2015-12-23 02:58] stevehu opened #3 "Select component drops value after changing from dropdown"
I don't know if this was introduced by splitting bootstrap and material-ui. The material-ui version of select is not working now. The default value display is OK but once the value is changed, it becomes empty.

[2015-12-23 17:58] NicholasAzar commented on #3
Will debug this asap, thank you for letting me know!

[2015-12-24 17:04] NicholasAzar commented on #3
I might be misunderstanding the problem... if we take the "Simple" form for example, by default it's set to LOCAL, if you change it to SIT1 then try to select a different value, there are no other options? I can't seem to reproduce this on firefox or chrome.

Please advise

[2015-12-24 19:46] stevehu commented on #3
Hi Nick,

Here is the screenshot. You can see I have selected option b from the
dropdown but It is still empty on the form. The default value "a" displayed
OK though.

BTW, I have rebuilt the intidb.json in the develop branch with all the
latest code and data. You can try the e-commerce from efg folder.

npm install
npm start

example:8001/webpack-dev-server/

make  sure you have example in /etc/h

[2015-12-28 12:03] stevehu commented on #3
It looks like a temp release of material-ui is the culprit. With the latest release, everything works. Thanks @NicholasAzar

[2015-12-28 12:03] #3 closed

[2016-02-25 09:48] matiaslarsson opened #6 "Method to refresh form inputs on model update?"
Is there a method for refreshing form values or re-rendering the SchemaForm when the model updates? It seems the SchemaForm doesn't react (no pun intended) to model changes (for example when routing to another item, which in turn updates the model).

Not sure if it's an issue with material-ui or react-schema-form though.

Excellent work, by the way!

[2016-02-25 12:43] stevehu commented on #6
Frankly, I never thought about your use case before. And all the built in fields are optimised for performance. The worst case would to build a customized field that supports two way binding given that you only have one or two fields that need to be updated from outside.

[2016-02-26 13:17] matiaslarsson commented on #6
OK, I probably need to add a refresh method to ComposedComponent since there could be a lot of fields depending on the editor type. Will get back to you with a PR when I have a solution.

[2016-02-29 19:42] sinisterra opened #7 "Date input validation"
I'm using tv4 as well to validate if the user input matches the schema. Everything works fine except for the date field. It breaks due to mismatched types (object instead of date), it can be seen in the demo showcasing Date. Are there any workarounds to this? Should I use instead another validation library?

Thanks!

[2016-02-29 20:30] stevehu commented on #7
@sinisterra I am planning to switch to ajv in the future and I am wondering if you could help to implement it and test against date type.
https://github.com/ebdrup/json-schema-benchmark
Thanks.

[2016-03-02 08:28] Anthropic commented on #7
@stevehu that is something we are wanting to look at with the json-schema-form core library, I want to expand our options for validators as it seems every month a different one takes the lead on the benchmarks, is-my-json-valid was easily the winner for about a year, so I suspect we will all be able to benefit from a unified core that accepts any validator with a minimal wrapper (to standardise er

[2016-03-02 09:50] BastienAlvez opened #8 "Select not working ?"
Hi i try to use this schema form.
It works with radios, or input.
But i have some problem with select component. This one save name instead of value for key (titlemap) and also he always select the first option even if my model got data ...

[2016-03-02 11:50] stevehu commented on #8
@BastienAlvez Could you please fork the repo and add you schema/firm to examples and l will debug into it. I personally don't use select but rc-select which supports multiple and tagging as well as dynamically loading items from rest apis.
Thanks.

[2016-03-02 15:07] BastienAlvez commented on #8
I fork and add my json into examples/data/ (bicycleParking).

I will try to use rc-select thanks.

[2016-03-03 01:56] #8 closed

[2016-03-03 01:57] stevehu commented on #8
@BastienAlvez 0.2.7 resolves this issue. Thanks for reporting it.

[2016-03-03 08:48] BastienAlvez commented on #8
@stevehu Thanks !
The component selected the first option each time even if my model got a valid value. Is it normal ?

[2016-03-03 17:28] KevinPike opened #9 "Dates as type string with format date-time"
Dates in my JSON schema are of type string and format date-time per http://spacetelescope.github.io/understanding-json-schema/reference/string.html However, I see that dates are currently rendered with type date. The validation library I'm using validates dates that are type string and format date-time so I would like to keep them that way instead of switching type to date.

From the examples, it

[2016-03-07 16:36] Bnaya opened #11 "What about a gitter channel for the project :)"

[2016-03-08 13:31] #11 closed

[2016-03-08 13:46] stevehu commented on #9
@KevinPike In JSON, date-time are formatted as string based on http://tools.ietf.org/html/rfc3339. Which validator are you using?

[2016-03-10 14:23] Bnaya opened #13 "Nested object + nested form declaration breaks validation"
How to repro:
On the live demo:
http://networknt.github.io/react-schema-form/
select the object example

paste this form:
Form:
[code]

Open the browser console, start typing text in the haircolor filed.
You will get js errors:
[code]

On the original source the error comes from:
[code]

After some debug my conclusions are:
The utils.merge function augmenting the form nodes with the proper scheme

[2016-03-10 14:40] nicklasb commented on #13
It is correct to display that error, the reference is invalid.

Instead use
[code]
to address that property.

The items construct is for arrays, fieldsets and similar: https://github.com/json-schema-form/json-schema-form/wiki/Documentation#array

[2016-03-10 14:41] nicklasb commented on #13
I see that the documentation needs to be improved, the examples for the array type is far to complex.

[2016-03-10 14:50] Bnaya commented on #13
Thanks!
how i should add attributes title group for this?

[2016-03-10 15:07] nicklasb commented on #13
What do you mean with title group? There are several json-schema-form concepts that could sort of be called a "Title group". Do you mean a section?

[2016-03-10 15:10] Bnaya commented on #13
Ok i did something like that:
[code]
The metadata with items [] gives me title to that group of inputs
Is there some more elegant solution

[2016-03-10 15:13] nicklasb commented on #13
Haven't tested it, but something like this?

[
    {
        title: 'Font info',
        key: 'metadata',
        type: 'fieldset',
        items: [    {
        key: 'metadata.family',
        type: 'text',
        title: 'Family',
        description: 'We should include the font weight in the name, and keep weight as normal.',
        default: ''
    },
    {
        key: 'metadata.stretch',

[2016-03-10 15:55] Bnaya commented on #13
Thanks!
looks like its working, ill keep updating this issue until i will be sure.
[code]

[2016-03-10 17:00] nicklasb commented on #13
I can't speak for @stevehu, but I would prefer that you close the issue as not only your question, but another question has been answered.

An issue is resolved when the issue is resolved, it is not an ongoing communication.
I'd say that is a bit too much to expect from a non-commercial open source project,

[2016-03-10 17:01] #13 closed

[2016-03-10 17:01] Bnaya commented on #13
Got your point, I can still use this issue even if it closed

[2016-03-10 17:04] nicklasb commented on #13
You may do as you which, but try to create one issue per problem, then it is more searchable/usable for others.

[2016-03-11 05:01] yunmanger1 opened #16 "Clicking add and remove array buttons has no effect"
For some reason clicking on add and remove buttons do not trigger `onModelChange`. I see that it works in your demo, but did not get why it is not work in my case.

[code]

[2016-03-31 20:59] KevinPike commented on #9
I am using https://github.com/xeipuuv/gojsonschema for json schema validation server side. A string with type date-time doesn't seem to render as a date time, just a text field.

[2016-04-02 16:58] stevehu commented on #16
@yunmanger1 I cannot find any issue with the package.json. Could you please fork the repo and put your form into as part of the examples so that I can take a look? Thanks.

[2016-04-02 17:01] stevehu commented on #9
@KevinPike I am using Java json parser jackson and it parse the date/time without any issue. In a json file or stream, date/time is always in string format. I am not familiar with gojsonschema but I guess it might have some options to parse date/time just like Java parser.

[2016-04-02 17:03] stevehu commented on #7
@Anthropic I am monitoring json-schema-form core lib closely. Let's close this issue and track it over there.

[2016-04-02 17:03] #7 closed

[2016-04-11 20:02] agrishun opened #17 "Array type renders property name on each iteration"
If I use array type, it adds for each item `<label>property.name</label>` and wrap it with `<ol>`.
I think `{array}` should consists of only `<li>` elements.
On the screenshot below you can see the difference. left side - before my changes, and the right side - after.
![im](https://cloud.githubusercontent.com/assets/3495582/14440637/19a8baf6-0031-11e6-9f35-c236691a17c8.jpg)

[2016-04-13 03:26] stevehu commented on #17
A new version 0.2.8 is published. Thanks for your help.

[2016-04-13 03:26] #17 closed

[2016-04-16 19:06] NicholasAzar opened #19 "Schema ace editor not rendering and no form being generated in example."
Hello,

Using the latest code for the example in master, the form is not being generated and the schema json ace editor is not being rendered.

From console, I see the following error on load:
Uncaught Error: misspelled option "enableBasicAutocompletion"

And after selecting an example:
Uncaught TypeError: Cannot read property 'getValue' of undefined

Using chrome 49.0.2623.87 (64-bit) on ubuntu 1

[2016-04-18 16:44] stevehu commented on #19
@NicholasAzar Have you done a fresh npm install? If yes, then it must be some of the dependencies upgraded and broken. I will tried it tonight for a fresh install.

[2016-04-19 00:42] stevehu commented on #19
React-ace is the culprit. I have locked it down to 3.1.0. Both 3.2.0 and 3.3.0 have bugs and behave differently. Please checkout the latest and run fresh npm install.

[2016-04-19 00:42] #19 closed

[2016-04-19 00:50] NicholasAzar commented on #19
Verified, all good. Thank you Steve!

[2016-04-19 23:15] chinshr opened #20 "Is it possible to use definitions?"
These could be referenced from within a schema, like the following example:

[code]

[2016-04-20 01:41] stevehu commented on #20
ref is not supported at the moment; however, a group of people are working on it to produce a common core shared between angular-schema-form, react-schema-form etc. Stay tuned.

https://github.com/json-schema-form/json-schema-form-core

[2016-04-20 01:41] #20 closed

[2016-04-20 18:56] chinshr commented on #20
I duplicated [this](https://github.com/json-schema-form/json-schema-form-core/issues/1) issue over on the [core](https://github.com/json-schema-form/json-schema-form-core) team. Thanks for the link!

[2016-04-22 20:49] chinshr opened #21 "Horizontally structured array items"
I would like to build forms layed out horizontally within a `form-group` like this:

![screen shot 2016-04-22 at 1 48 06 pm](https://cloud.githubusercontent.com/assets/29537/14754535/e3f889a0-0890-11e6-9e34-34d9d48c9378.png)

However, I don't get the horizontal layout to work. No matter what I do, e.g. `subforms` it will always rendered as stacked, like this:

![screen shot 2016-04-22 at 1 43 45 p

[2016-04-24 08:28] stevehu commented on #21
It is controlled by CSS during the array rendering. I am sure it can be customize to display horizontal and flow to the next line. Take a look at css flexbox. The button is the same, you need to align it to the right. All the elements support style so I don't think you need to update the code but only passing in the style variable.

[2016-04-25 17:50] chinshr commented on #21
@stevehu thanks for your reply. Can you point me to an example by any chance? The [form documentation](https://github.com/json-schema-form/json-schema-form/wiki/Documentation) is vague about custom styles and does not suggest css inline styles to work properly.

[2016-04-27 09:33] cguedes opened #22 "Array delete is not working (UI became out-of-sync of model)"
In the following GIF image you can see that:
1. I'm adding three elements to the array (A, B and C)
2. I'm removing the second element (B)
3. The model is fine (with values A and C)
3. But in the UI we see that B remains visible (the last element is the one being removed - not rendered)

![react-schema-form issue with array delete](https://cloud.githubusercontent.com/assets/174127/14847580/50adbc5

[2016-04-27 10:48] stevehu commented on #22
@cguedes Thanks a lot. This is the best issue I have seen on github.

[2016-04-27 18:43] nicklasb commented on #22
@cguedes I just saw this, and agree with @stevehu, if all were like this.
@cguedes, what did you use to make the gif?

[2016-04-28 08:46] cguedes commented on #22
@stevehu  @nicklasb Tanks for your kind words.

@nicklasb I've used [Recordit](http://recordit.co/). Is an awesome tool to take "video screenshots".

[2016-04-28 09:58] nicklasb commented on #22
I just tried it, yeah that is really a killer app. Thanks for the tip!

[2016-05-20 11:28] agrishun commented on #6
Actually I'm struggling with the same issue, I think it can be a really popular use case. In order to achieve that, In ComposedComponent you can add componentWillReceiveProps and set the state, based on new model. Also props  have to be changed from defaultValue to value, in some components like Text or Number. I think it would be a great feature to have, and I can submit a pull request at any mom

[2016-05-20 11:37] stevehu commented on #6
Sounds good to me. We just need to make sure that array and fieldset work with refresh. Thanks

[2016-05-20 11:43] stevehu commented on #22
@cguedes I have tried to use UUID but the updated field keeps refreshing. It is not easy to fix it and I need more time to figure it out.

[2016-06-12 15:12] mikedizon opened #28 "hintText not displaying"
hintText seems to not be displaying. Is that supposed to be what the description is used for?

[2016-06-12 15:18] mikedizon commented on #28
disregard!

[2016-06-12 15:18] #28 closed

[2016-06-16 00:58] mikedizon opened #29 "Error object?"
Is it possible to pass in an error object into the SchemaForm so that errors can be displayed in line with the offending field?

[2016-08-02 18:48] ikostic opened #33 "Don't Call PropTypes Warning"
I get following error on page where form is used:

When I follow link for warning description:

Can we expect new release which will address this issue?

Regards

[2016-08-03 00:55] stevehu commented on #33
@ikostic Thanks for pointing it out. I am working on it to upgrade the dependencies. Stay tuned.

[2016-08-18 11:50] Haggus commented on #6
I've also ran into a situation where I need my form to update, because of a model change. What is the status of this feature?

[2016-08-22 21:59] diverslicense opened #34 "TextField value does not clear when changing Form type"
In the demo,
1. In "Simple" form, enter value in Email field > value in Model
2. Change to "Address" form > value from step 1 populates Last Name field
3. Change back to "Simple form" > email value still populated in form but value not in Model

![schemaformgif](https://cloud.githubusercontent.com/assets/5516289/18286547/251ac4ea-7428-11e6-9593-acac6d1b616a.gif)

Shouldn't the values clear when th

[2016-10-16 19:50] Vaevictus opened #36 "Select fields always select first value in titlemap, doesnt change to actual value"
I am having a problem where although I pass a model, fields definition and jsonschema to schemaform control, textfields render with the passed value but selectfields always select the first value in the titlemap, regardless of the underlying value.

Can someone help me out?

Here is my model, form and schema:

[code]

[2016-10-16 20:03] Vaevictus commented on #36
this may be a duplicate bug report.
it seems this is fixed with this commit:
https://github.com/networknt/react-schema-form/commit/4f21f1ff409ca05dec9894ca1f6e2da8378e2e50

this commit is not in the baseline currently in npm...

[2016-10-17 22:35] stevehu commented on #36
@Vaevictus I have just publish a new release 0.2.10 to npmjs. Please let me know if you have issues. Thanks.

[2016-10-17 22:35] #36 closed

[2016-10-17 22:36] stevehu commented on #34
@diverslicense This should be addressed in release 0.2.10. Please let me know if you have questions.

[2016-10-17 22:36] #34 closed

[2016-10-17 22:41] stevehu commented on #29
If I understand it correctly, you want customized error message as the current error does associated with the field. At the moment, it would be really hard to map passed in errors to the form as form structure would be different between forms and the error mapping would be an issue with dynamic form i.e. array of objects.

[2016-10-20 10:38] kevadkins commented on #22
I ran into this issue and managed to fix it by changing the key on the list item in the [Array component](https://github.com/networknt/react-schema-form/blob/master/src/Array.js#L129):

`html
<li key={model[i].field_key+i} className="list-group-item">
`

I'd already defined my own Array component (basically just a copy of it), so was able to do this without changing the original component in the s

[2016-10-20 12:53] devel-pa commented on #22
I don't know if is already solved as it's here for quite some time, I have an idea, not tested.

How about transforming arrays into objects when setting the scope and invers transformation (how to detect it has been an array?) when exporting the scope.

lodash:
`_.invert(_.invert(['a', 'b', 'c']))`

[2016-10-21 09:10] kevadkins commented on #22
I ran into this issue and the key to fixing it (pun intended) is to have a unique key on the list item in the [Array component](https://github.com/networknt/react-schema-form/blob/master/src/Array.js#L129).

I used lodash `_.uniqueId()`

[code]

I'd already defined my own Array component (basically just a copy of it), so was able to do this without changing the original component in the src.

Than

[2016-10-21 11:29] stevehu commented on #22
@devel-pa @kevadkins I have tried with unique keys and it doesn't work for me. My implementation was not the same as yours. Could you please test your solution to verify if it works?

[2016-11-03 14:16] stevehu opened #37 "Upgrade to the latest version of react.js and webpack"
I have received so many requests offline to upgrade to the latest react.js; however, my schedule is so full at the moment. Can someone help to upgrade? Thanks.

[2016-11-04 01:48] stevehu commented on #37
Thanks Paul for your help. Both packages work perfectly and I have published them to the npmjs after brief testing.

[2016-11-04 01:48] #37 closed

[2016-11-04 13:52] devel-pa commented on #37
You're welcome :)
I think you forgot to change the `package.json` at least for select to refer to the npm

[2016-11-05 00:49] stevehu commented on #37
Sorry @devel-pa. Are you saying to have a link to the npmjs.org in the package.json? I've searched package.json spec and couldn't find anything official. I can put something there as a URL but would like to learn from you if there are any common practices available. Thanks.

[2016-11-05 08:05] stevehu commented on #33
Upgrade to the latest react and the issue should be resolved. Thanks @devel-pa.

[2016-11-05 08:05] #33 closed

[2016-11-05 08:08] stevehu commented on #16
@yunmanger1 haven't hear from you for the last 7 months. I assume you issue is resolved.

[2016-11-05 08:08] #16 closed

[2016-11-05 08:10] stevehu commented on #9
Not an issue on the schema form but backend json parser.

[2016-11-05 08:10] #9 closed

[2016-11-05 08:15] stevehu commented on #21
I will add this as an option in the feature when I have time. It would be great if somebody can help.

[2016-11-05 08:17] #29 closed

[2016-11-06 21:32] devel-pa commented on #37
@stevehu I'm saying that you've kept in `package.json`

[code]

instead of having

[code]

[2016-11-06 21:59] stevehu commented on #37
Thanks Paul. I have updated and published another release. I was looking
into the react-schema-form-rc-select and didn't find anything:)

Best regards,

Steve

On Sun, Nov 6, 2016 at 4:32 PM, Paul Apostol <notifications@github.com>
wrote:

[2016-12-16 20:43] chiester opened #39 "Error: TextField.js:339 Uncaught TypeError: Cannot read property 'prepareStyles' of undefined"
Comes from~/react-schema-form/~/material-ui/TextField/TextField.js

Any idea how to resolve this?

[2016-12-16 20:47] stevehu commented on #39
I would assume you are using the latest version which I will start with my investigation. Let me know if you are using different version. Thanks.

[2016-12-16 20:49] chiester commented on #39
Yes. I'm using the latest.

Thanks.

[2016-12-16 21:04] stevehu commented on #39
The TextField is part of the material-ui and the latest version requires setup muitheme, otherwise some of the properties cannot be resolved. Take a look at ExamplePage.js and you can see how I setup muitheme.

Here are some useful links that might help.

https://github.com/callemall/material-ui/issues/5330

http://stackoverflow.com/questions/36953711/i-cannot-use-material-ui-components-after-upda

[2016-12-16 21:53] chiester commented on #39
Thanks @stevehu

[2016-12-16 23:02] stevehu commented on #39
You are welcome. Happy coding.

[2016-12-16 23:02] #39 closed

[2017-01-20 15:59] maplechori commented on #22
I resolved this by embedding SchemaForm inside another component, once that component has been created we don't touch that model.

[2017-01-22 01:18] stevehu commented on #22
That is very interesting. If you don't touch the model. you don't have the issue. what if you remove one of the items in the array? Are you updating the model

[2017-01-22 14:23] maplechori commented on #22
I have a component that maps over a group of types, each type holds a form/schema/model. I render the one that is selected.

[2017-01-22 14:44] stevehu commented on #22
@maplechori Is your component open sourced? Or could you please share your component so that someone can be inspired to find a generic solution to resolve the problem?

[2017-01-22 15:59] cguedes commented on #22
@stevehu you can check this in the live demo you provide (sample: simple array)

print screen

![image](https://cloud.githubusercontent.com/assets/174127/22183706/b45455c2-e0bb-11e6-8e53-285452f6cf29.png)

animated gif

![yybfzzpz7j](https://cloud.githubusercontent.com/assets/174127/22183708/bfe01b60-e0bb-11e6-9f07-607513c03bea.gif)

[2017-01-22 20:13] Vaevictus opened #41 "validation behaviour on blur"
Is there a way I can change the validation behavior? It seems to affect the demo page too.
If I load a form, I can immediately save it without actually firing any validation. I also want to validation errors to immediately load (the red ones) when I initialize it. Only after entering some data then removing it with backspace will show the "this field is required" error for example.

Additionally,

[2017-01-23 14:45] maplechori commented on #22
@stevehu I'll try to implement a similar component this week.

[2017-01-23 21:58] stevehu commented on #22
Excellent. Thanks.

[2017-01-26 12:44] stevehu commented on #41
These are all goog questions. The current released version should fire validation when the form is submitted. The demo is a little old. For the second question, do you have logic in your submit button? If not,  you can use generated button. Otherwise, you csn call schema form api from you button.

[2017-02-10 18:44] maplechori commented on #22
Seems the bug that I saw is not the one mentioned here. No luck with this one yet.

[2017-03-19 17:36] aL3xa opened #42 "Error with "enum" string inputs"
I'm having a problem with `enum` property in form input definition. Given this schema

[code]
I get a following error:

[code]

Everything works fine if I omit `enum` field. Anyone had similar issue?

[2017-03-19 19:54] stevehu commented on #42
I am using enum all the time and there is no issue. In this [demo](http://networknt.github.io/react-schema-form/), select Basic JSON Schema Type in the dropdown and you can see the example schema using enum. Please note that the demo site might using an older version, however, the examples are in the source code and you can use it to try your schema just adding an extra example. Let me know if it

[2017-04-05 21:04] biskit opened #43 "conditionals"
can i have conditional display of values?  like ticking a checkbox or selecting a radio to  open up an input.

[2017-04-06 00:07] stevehu commented on #43
Yes. I am very business these days and I will add an example for that once I have spare time. Take a look at the following example (kitchen sink)  for angular-schema-form and the syntax is the same for react-schema -form.

http://schemaform.io/examples/bootstrap-example.html

[2017-04-19 10:20] alexey-kuznetsov commented on #41
I have the same situation. This is my submit callback
[code]

It seems like a bug - if I submit form with incorrect fields, validation fires and I see this in console, but there are no indication at wrong fields in form

[2017-04-23 01:17] stevehu commented on #41
@alexey-kuznetsov From what you have describe it is a bug. I will try to reproduce and get it fixed. Thanks for your help.

[2017-04-23 06:36] alexey-kuznetsov commented on #41
@stevehu embedded validation doesn't prevent form from submitting. It is not normal.

[2017-05-23 12:57] stropitek opened #44 "Move react to peer dependencies, react-dom to dev dependencies ?"
react is now a direct dependency of the project. I think the best practice is to put in `peerDependencies`, to avoid having conflicting versions of react.

Also the libraries used in the examples should be in devDependencies (`react-dom`, `react-tap-event-plugin`) , they are not needed by a third party using the library.

[2017-05-23 13:40] stevehu commented on #44
Thanks for pointing out these issues. I am focusing on the server side these days and there are a lot of things need to be updated. Will start to look into it once I can take a break from other projects. Meanwhile pull request is welcomed.

[2017-05-23 14:17] stropitek opened #45 "Number: onChangeValidate called twice"
The onModelChange callback is called twice on number fields.

It is due to the Number component calling `onChangeValidate` twice, once in the condition checking if the value is numeric, and a second time at the end of the function

https://github.com/networknt/react-schema-form/blob/b083ae6ef601e411d2541a1f4598ec2603c147be/src/Number.js#L30-L41

[2017-05-24 06:19] #45 closed

[2017-05-24 11:00] stropitek commented on #44
I will do another PR because I forgot to add the dependencies that I moved to `peerDependencies` in `devDependencies` as well. The examples need those to function.

[2017-05-24 11:07] stropitek commented on #44
I also think the add-on dev dependency (https://github.com/networknt/react-schema-form-rc-select) project needs to be cleaned up, because it has all the same dependencies. I will open a separate issue for that

[2017-05-24 11:25] stropitek commented on #44
https://github.com/networknt/react-schema-form-rc-select/issues/3

[2017-05-24 11:30] cuongngosa opened #50 "file image upload thumbnail support"
Hi, do it support image thumbnail for file type at the moment ?

[2017-05-24 13:26] stevehu commented on #44
Cool. Rc-select should worked the same way. This remind me to release both togethor.

[2017-05-24 13:43] stevehu commented on #50
We need to create a customized file input. I used to have one for angular schema form. I will mark this as feature and ask for help from the community.

[2017-05-25 13:20] stevehu commented on #50
Quote from @cuongngosa "My case is whenever user select file to upload, instantly thumbnail image will be display at the right of Browse button"

[2017-05-29 15:54] stropitek commented on #44
Can you make a release of the package? I'm happy with the way dependencies work now. I think semver-minor.

[2017-06-02 03:42] cuongngosa commented on #50
nvm, I figure out
Thanks stevehu

[2017-06-02 03:42] #50 closed

[2017-06-02 11:02] stevehu commented on #50
@cuongngosa Could you please elaborate how to do that? Thanks.

[2017-06-02 12:21] #44 closed

[2017-06-02 12:25] stevehu commented on #44
@stropitek Thanks a lot for your help. I just published a new release, please review and let me know if you have questions.

https://github.com/networknt/react-schema-form/releases/tag/0.3.5

[2017-06-05 01:52] cuongngosa commented on #50
Actually, I use react-dropzone-component to do multiple upload with support lots of upload feature, then I just load image list to a drop down list for user to select and submit image name value on json formData @stevehu

[2017-06-05 02:01] stevehu commented on #50
@cuongngosa Thanks for letting us know. Happy coding.

[2017-07-19 04:37] simon998yang opened #54 "two field refer to same key, not updating each other"
If I put 2 fields which refer to same key. i.e they display correctly accordingly to init data. But if you update one field, the other one is not updated.

angular schema form can handle it out of box.

Any suggestion?

[2017-07-19 11:41] stevehu commented on #54
The react-schema-form uses an early version of angular-schema-form lib as core. So internally, they should work the same way in term of parsing and validation; however, the way angular 1.x and react handle UI is different, especially how key is treated. I am guessing that you use the same key for two fields is to copy one field to another automatically. In that case, it is easy to do with flux bas

[2017-07-20 00:25] simon998yang commented on #54
Yes, the use case is to copy one field value to another automatically. The problem is if we use a centralized data store, every time we change a field value, and it will ultimately change the data pass down the form.  So the whole form will get re-rendered for each field change. We will run into performance issue not for a very big form.

[2017-07-20 01:07] stevehu commented on #54
React rendering is a little different than Angular 1.x and the form won't be re-rendered if only one of the fields is changed. Give it a try and see if you have performance issue. I am using it intensively with influx and never experience any performance issue and it is very common in React SPA.

[2017-07-25 17:28] gtaschuk commented on #6
I too am trying to build this feature (I am new to react).  The model that this form allows you to edit is asynchronously loaded.  When it loads, I would like to rerender the form or set the values so that the form will be filled in.   How do I propagate changes in ```this.state.model``` to the form?

I have a branch pushed up on my fork ```update_form_from_model`` that changes ```defaultValue```

[2017-07-27 21:40] gtaschuk opened #57 "Date does not validate correctly"
In the demo, if I select a date with the datepicker, and validate, it gives a validation error about date format.
![networknt github io react-schema-form](https://user-images.githubusercontent.com/1857611/28693446-b03889ee-72f2-11e7-87ac-4f5c866a83d0.png)

[2017-07-28 17:29] gtaschuk commented on #57
For what it's worth, specifying ```"type": "object"``` instead of ```"type": "date"``` in the schema avoids the validation error.

[2017-08-15 05:59] oceanic815recovery commented on #42
I am experiencing the exact same issue with the same exception. I am on version 0.3.8

[2017-08-15 06:20] oceanic815recovery commented on #42
This is the exact commit which breaks it: https://github.com/networknt/react-schema-form/commit/2dcc1fd5fe6aac901635eaac0983f21f154c2b06

I locally reverted that commit in my copy of react-schema-form and now enums work properly

[2017-08-17 00:37] foxdb commented on #6
Hello!
I ran into this one too: my form model **needs to be updated from outside** to allow a "reset button" feature (on click on the button reset select fields to a specific value).

I worked out a solution by altering the **Select component's state** when it receives props. Let me know if that solution would suit you, and I'll have a PR ready!

Eventually, other components could be updated that

[2017-08-18 17:02] EthanTHead commented on #6
@foxdb We are looking for a solution to this problem. Is anybody working on it?

[2017-08-18 17:11] stevehu commented on #6
@foxdb I think your solution should work if it applies to all types of field. I am looking forward to the PR. Thanks.

[2017-08-21 23:22] stevehu commented on #6
@foxdb Thanks for your help. We have several PRs recently and one of the PR got a small issue. I am still waiting for the developer to take a look and get it fixed. I don't know if we should have a release with a small issue. If someone is waiting for this feature, I will release it immediately with a comment.

#58

[2017-08-22 13:17] psamim opened #65 "Required fields"
Hi,
Can we have an indicator for required fields? Like a start?
Thanks,

[2017-08-22 14:30] stevehu commented on #65
@psamim I think that is a good idea. A red star will be really helpful.

[2017-09-03 06:46] herzaso opened #67 "missing dependency"
It seems that there is a missing dependency on `material-ui` in the `package.json` file

[2017-09-03 11:07] stevehu commented on #67
Material-ui is peer dependency and you need to require it in you app. Take a look at example app package.json. Thanks.

[2017-09-08 06:32] b3j0f opened #68 "Resolve $ref fields in the schema"
Is this library resolve the "$ref" fields in Schema ?

If it doesn't, I thought I will fix this issue...

I have an error in my console when I use this schema :

[code]

[2017-09-08 11:37] stevehu commented on #68
As I remember, it doesn't support $ref currently. This project is derived from angular-schema-form and there is an issue discuss it over there that might help. I will be great if you could help to resolve this issue. Thanks.
https://github.com/json-schema-form/angular-schema-form/issues/69

[2017-09-08 12:25] b3j0f commented on #68
A big part of the solution seems to be there :

https://github.com/geraintluff/tv4/blob/a00bee535ae7498becd53f9a8071c1cc0bdc4359/source/normalise-schema.js#L1

Could you quickly integrate this function in your sources ?

[2017-09-08 12:37] b3j0f commented on #68
And pretty much here ^^

https://github.com/geraintluff/tv4/blob/a00bee535ae7498becd53f9a8071c1cc0bdc4359/source/validate.js#L90

[2017-09-08 13:23] stevehu commented on #68
To fix the schema validation is not hard; however, to generate form with $ref is not that easy. That is why angular-schema-form team struggled a long time to implement it.

[2017-09-08 13:37] b3j0f commented on #68
What about integrating this library ? https://www.npmjs.com/package/json-schema-ref-parser

[2017-09-08 16:27] stevehu commented on #68
I think it will work to dereference in the beginning. There might be performance issue if the schema form is very big. As most schema forms don't have $ref, is it possible to do the dereference for the forms with $ref and then pass the schema to react-schema-form. In this case, there is no blindly dereference to be called. I am doing the same thing in light-rest-4j framework to dereference swagger

[2017-09-09 22:44] #68 closed

[2017-09-10 11:02] b3j0f commented on #68
Yeah. I juste coded a dereferencer if you want to integrate it in your project...

Feel free to use it. It is well optimized for not parcouring twice a schema, and resolve references and meta-schema if necessary...

[code]

[2017-09-10 17:09] b3j0f commented on #68
Well, I found a good derefencer library for json schema... :

https://github.com/bojand/json-schema-deref

Have fun !

[2017-09-11 12:28] b3j0f commented on #6
In waiting, you can use a specific schemaform property for forcing rerendering.

For example, use a reset key which changes of value and is associated to the schemaform.

[code]

[2017-09-24 20:31] jimmythigpen opened #69 "npm start is missing from the package.json"
How do I run this project locally?

[2017-09-24 21:30] stevehu commented on #69
@jimmythigpen We used to have a start entry but now it is moved to example folder.  The example now is an independent project that can be started with npm start after npm install. The reason of the change is to give users a sense what is the real application package.json looks like. Thanks.

[2017-09-27 19:08] jimmythigpen commented on #69
Thanks!

[2017-09-27 19:08] #69 closed

[2017-10-18 03:09] #42 closed

[2017-11-13 14:28] MrSaints opened #75 "Update peer dependencies"
I might be able to find time to do this, but:

[code]

Ignoring the first, I've tested this component on React 16, and it appears to work fine.

[2017-12-04 09:48] MrSaints commented on #22
I encountered this problem last week. I tried to resolve it, but I wasn't able to isolate the problem. The models are definitely _correct_, but the UI itself is not.

[2018-01-18 18:25] donalmurtagh commented on #43
I tried this out by making the following change in Simple example on the [demo page](http://networknt.github.io/react-schema-form/)

In the form definition, replace

[code]

with:

[code]

This should make the email field visible only if the name field has the value "foo", but it doesn't work. Incidentally, I also tried using `modelData` in the condition instead of `model` but that doesn't work ei

[2018-03-13 17:22] gtaschuk opened #76 "Integer Field Can't be Cleared"
To reproduce:
Go to http://networknt.github.io/react-schema-form/ select "Basic JSON Schema Type"
Enter an integer into the form field
Press backspace and find the number cannot be completely cleared from the form - it remains with one digit always

[2018-03-13 17:27] stevehu commented on #76
Yes. Good catch. It is easy to produce and I never realize it :) Will take a look once I have time.

[2018-03-13 21:30] gtaschuk commented on #76
^ I put a bounty on the issue, cause I'm a backend guy haha

[2018-03-14 02:04] weilaihui commented on #76
In src/Number.js:
[code]

if Press backspace,e.target.value=''.this.isNumeric(e.target.value) is false,then goto this.refs.numberField.value = this.state.lastSuccessfulValue; so the numberField value can not cleared

[2018-03-14 02:17] vs77bb commented on #76
Hi @weilaihui, Vivek from Gitcoin here. Feel free to click 'Start Work' if you'd like to make a pull request here to give @gtaschuk a hand 🙂

[2018-03-14 02:43] weilaihui commented on #76
@gtaschuk I leave a comment on the above.When e.target.value='',you may set numberField value to 0 or ''.

[2018-03-14 07:10] #67 closed

[2018-03-14 07:11] #54 closed

[2018-03-14 11:04] gonzalovazquez commented on #76
@weilaihui Create a pull request with the fix in order to close the ticket and collect the bounty.

[2018-03-14 13:24] stevehu commented on #76
@gtaschuk @weilaihui Thanks guys. This is an eye opening for open source project and the gitcoin.co is amazing.

[2018-03-14 13:55] gtaschuk commented on #76
that was quick :)  looking forward to having this PR in

[2018-03-14 14:00] gtaschuk opened #77 "Date field can't be cleared"
To reproduce:
Go to http://networknt.github.io/react-schema-form/ select "Date"
Enter a date via the widget into the form field
It is impossible to remove the date

[2018-03-14 14:29] weilaihui commented on #76
#78

[2018-03-14 14:29] weilaihui commented on #76
PR in #78

[2018-03-14 21:56] gtaschuk commented on #76
This actually introduces a bug - when you backspace out an integer, the last digit is left in the model output, so even if the field looks empty, it still shows a 1 digit number in the model

[2018-03-16 12:57] gtaschuk commented on #77
Looks good, but it would be nice if the clear icon only showed up when there was a value.  Thanks for taking this on!

[2018-03-16 12:57] #77 closed

[2018-03-22 03:53] vs77bb commented on #76
@gtaschuk Vivek from Gitcoin here! Is this one still WIP? Latest submission seems to include a bug unless I'm mistaken. Hope all are well 🙂

[2018-03-27 01:02] weilaihui commented on #76
@vs77bb A PR in #79

[2018-03-27 02:38] stevehu commented on #76
@weilaihui Could you confirm that the following is fixed? Thanks.

[code]

[2018-03-27 04:17] weilaihui commented on #76
![2018-03-27 12-15-50](https://user-images.githubusercontent.com/6701259/37946581-bb58c53e-31b8-11e8-9a69-40009889bd52.png)

![2018-03-27 12-16-13](https://user-images.githubusercontent.com/6701259/37946587-c39b66fc-31b8-11e8-9efb-44586cfd8b18.png)

Is this right? @stevehu @gtaschuk

[2018-03-28 01:14] vs77bb commented on #77
Hi @gtaschuk Vivek from Gitcoin here. Is this one ready for pay out?

[2018-03-28 15:26] gtaschuk commented on #76
Yes, that looks good

[2018-03-28 15:26] #76 closed

[2018-03-28 18:21] gtaschuk opened #82 "DateTime picker"
We're trying to capture DateTimes with this form library and need a DateTime picker

@stevehu  let me know if this all makes sense/seems like the right type of widget for the library - if so, I'll put a bounty on it

## DateTime Picker
Timestamps should be captured in ISO 8601 format and UTC timezone by default, i.e.
`YYYY-MM- DDThh:mm:ss.sssZ`
If there is a local timezone offset used when capturi

[2018-03-28 20:56] stevehu commented on #82
@gtaschuk You are right. We only have a DatePicker and default the time to midnight. The reason to use the UTC timezone is due to JSON convention. All JSON parser can recognize this format. If another format is passed to the backend, then the backend service needs to parse it based on special logic.

[2018-03-29 13:59] gtaschuk commented on #82
Ok cool - I'm going to limit the spec above down to building a new datetime picker for the library (which I'll bounty), and we (TruSet) will figure out what we want to do for the date type

[2018-03-29 15:26] stevehu commented on #82
the Date type is default to midnight and I don't think it will cause issues for the majority of the applications. Once the serialization is done, the backend application can decide to trim the time if desired. Another option is to use jdk8 module with Jackson but this ties the front end library with Java.

[2018-04-07 23:59] vs77bb commented on #43
Hi @GUIEEN we haven't heard from you so Gitcoin Bot will return this to an active status.

[2018-04-08 00:01] vs77bb commented on #82
@toeplitz Any update here? Gitcoin Bot will remove you from this issue in two days if no progress is made.

[2018-04-09 02:38] bakaoh commented on #77
@gtaschuk please accept my work here https://gitcoin.co/issue/networknt/react-schema-form/77

[2018-04-09 02:45] stevehu commented on #77
@gtaschuk Do I need to release a new version to test? Thanks.

[2018-04-20 20:45] JFrankfurt commented on #75
I'd also very much appreciate it if someone could make this work and get the included example running on React ^16.3.0

[2018-04-28 15:27] vs77bb commented on #77
@gtaschuk I see @bakaoh submitted work here a while back. Were you able to review the PR and potentially pay out the bounty [here](https://gitcoin.co/issue/networknt/react-schema-form/77/141)?

[2018-04-28 15:28] vs77bb commented on #76
Hi @gtaschuk can you please complete the payout on Gitcoin [here](https://gitcoin.co/issue/networknt/react-schema-form/76/133) using the 'Accept Submission' functionality?

[2018-05-02 14:49] rrandom commented on #43
Seems this issue was already been resolved with the example condition, though the examples in gh-pages does not have it

[2018-05-02 20:53] stevehu commented on #43
The examples in gh-pages haven't updated for a while. I will try to rebuild it and republished. We have basic conditional fields but I don't know if that meets @biskit's requirement.

[2018-05-02 20:54] stevehu opened #83 "Update gh-pages demo to the latest version"

[2018-05-04 22:28] cheukwong opened #84 "Is it possible to style the "New" button for array type?"
I have looked at Array.js. It looks like the style field is ignored in the simplearray.json example.

[code]

[2018-05-05 13:00] stevehu commented on #84
@cheukwong Yes. You are right. The examples were built a long time ago and we are planning to upgrade to the latest version of react-schema-form. Let's keep this issue open so that we can address at the same time. Thanks for bringing it up.

[2018-05-07 12:44] stevehu commented on #75
I have tried to upgrade the example to React 16.3.2 and material-ui v1beta during the weekend. There are some issues and I want your opinion. The material-ui v1beta is the only release that claims to support React 16 but it is still working in progress with some components missing like DatePicker etc. We cannot upgrade to React 16.3.2 and still keep material-ui with 0.x as there are some other iss

[2018-05-07 12:47] stevehu commented on #75
@gtaschuk, @cheukwong,

Since this related to the DatePicker and Button Styling, it would be great if you can voice your opinions.

[2018-05-07 12:51] stevehu commented on #75
https://material-ui-next.com/guides/migration-v0.x

[2018-05-10 13:16] stevehu commented on #82
I am thinking to support both. I have created the react16 branch and still working on the details as material-ui v1 is not backward compatible.

[2018-05-10 16:53] nemaniarjun commented on #82
I would like to take this up, if no one else is working on this. :)

[2018-05-10 23:30] stevehu commented on #82
@nemaniarjun The latest code is in react16 branch. I have only the material-ui date object there but never got a chance to test it out. If you want to take it, please create new components based on https://material-ui-next.com/demos/pickers/

[2018-05-11 16:02] nemaniarjun commented on #82
why the 4 weeks ago? by the gitcoinbot?

[2018-05-12 09:35] nemaniarjun commented on #82
why the `4 weeks ago`? by the @gitcoinbot?

[2018-05-12 09:44] nemaniarjun commented on #82
@stevehu The code in `react16` branch uses material-ui-next, and also in the pickers link that you shared, the Date Picker returns a string instead of an Object. Is this the desired behavior?

[2018-05-12 12:41] stevehu commented on #82
@nemaniarjun The react16 is a new branch and still working in progress. The form collects all fields and then send to the backend in a JSON format. In JSON, there is no date type but just a string. The date object in Javascript has a toJSON method that outputs something like "2012-04-23T18:25:43.511Z" and it is the standard these days. As long as we can convert to this format in the model, we are

[2018-05-14 22:49] vs77bb commented on #76
Hi @gtaschuk This bounty has not yet been paid to @weilaihui. Please do so whenever you get the chance!

[2018-05-14 22:50] vs77bb commented on #77
@gtaschuk @stevehu Bump on the last comment. Wondering if @bakaoh should be paid for his work here!

[2018-05-25 18:33] vs77bb commented on #82
@stevehu Bumping this issue in case it slipped your eye... @nemaniarjun looks to have submitted a PR here a bit ago.

Also snoozing Gitcoin Bot here for 100 days, appreciate your patience with the bot 😄

[2018-05-26 08:32] weberV commented on #76
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/networknt/react-schema-form/76/133).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:32] weberV commented on #77
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.025 ETH (17.3 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/networknt/react-schema-form/77/141).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:34] weberV commented on #82
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/networknt/react-schema-form/82/199).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:34] weberV commented on #43
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/networknt/react-schema-form/43/201).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-29 09:39] XaviTorello opened #86 "enumNames are not resolved"
`enumNames` are not resolved while processing the schema definition.

It only works if enum labels are defined at `form` level using the `titleMap` .

Please, review it and provide a fix

### Not working

[code]

-----------

### Working

[code]

[2018-05-29 10:45] stevehu commented on #86
enumNames is introduced after v5 and we are still in JSON schema v4 currently. Let's keep this issue open until we upgrade to newer version of specs. Thanks a lot for bringing up.

[2018-05-29 14:00] XaviTorello commented on #86
Perfect, thanks @stevehu I've been pushed a simplification of the method that manages the titles mapping at #87, it also supports `enumNames` :)

[2018-06-01 09:13] XaviTorello opened #88 "SchemaForm fields are not correctly identified"
We tried to create a form based on N steps (reached from an API), and we see that the values of our form fields are "cached" between the different steps.

I mean, step 1 have at first postion a textfield devised to handle the customer name. The value introduced by the client is directly reused inside the first field of the step 2 form, although a specific model is enforced to define the expected v

[2018-06-01 11:38] XaviTorello opened #90 "Insecure evaluations of form conditions"
To evaluate form conditions is used the `eval` built-in without any kind of filtering or protection:
https://github.com/networknt/react-schema-form/blob/92397dbd4c412c94b252fdb40a84f068204a0f65/src/SchemaForm.js#L51-L53

It can be dangerous if someone is able to modify the condition and tries to inject some code.

Dangerous conditions like `"model = {}"` are executed being able to overriding our a

[2018-06-12 13:41] XaviTorello opened #92 "Possibility to inject validation errros"
In some scenarios, where an external validation must be asserted, like API pre-validations or API submit results, will be interesting the possibility to inject a definition of errors based on the key of each form element.

The idea is to reach a way to extend the `<SchemaForm>` with a new property devised to handle this externally processed errors.

Internal validation errors (tv errors) must be p

[2018-06-13 15:18] gtaschuk commented on #82
@vs77bb At this point it seems like nobody is sucessfully completing the project at this funding level.  Can you return the funds?

[2018-06-14 06:20] XaviTorello opened #94 "Autocomplete component"
Will be great if we can render a list of elements using an `Autocomplete` material-ui field.

The behaviour will very similar to `Select` component, will receive a list of elements and their possible names.

A possible label for this new type could be `textsuggest`

[2018-06-14 06:56] XaviTorello opened #96 "Checkbox errors management"
Can be interesting to render an error text for the `Checkbox` component.

So far, material-ui checkbox does not handle errors, nor have the possibility to integrate an error message.

The idea is to achieve a mechanism to display an error message like the other components.

In which cases can be useful?
- Mandatory checkboxs, ie "Accept our policy..."
- External validated boolean assertions, ie if

[2018-06-14 07:51] XaviTorello opened #98 "Default values are not correctly handled"
There is some components that not handles the default values as expected.

I.e boolean types do not works if a False is provided.

Also analyze it can be interesting to achieve a way to initialize our model with the defaults (if this property is not yet filled)

[2018-06-18 14:31] #86 closed

[2018-06-18 14:31] #88 closed

[2018-06-18 14:31] #90 closed

[2018-06-18 14:31] #92 closed

[2018-06-25 04:55] ythecombinator opened #100 "Migration to material-ui v1"
Hey, I've made a quick search across the docs and the issues here and I haven't found anything related to porting this to use `material-ui v1.x` and I'd like to know if you guys have any plans on this.

It turns out that your project is the best alternative I could find for using `react-jsonschema-form` on my current stack–which is based on `@material-ui/core v1.2.1`–but it seems to me that it hea

[2018-06-30 12:37] thefringeninja commented on #100
In the meantime one thing you can do is shim it.

[2018-06-30 14:49] stevehu commented on #100
@ythecombinator There is a new branch react16 which has been upgraded to React 16 and material-ui 1.x. It is still working in progress.

[2018-06-30 16:55] ythecombinator commented on #100
Thanks for your suggestion, @thefringeninja. And thanks for the feedback, @stevehu.

Please allow me to ask; how's the progress on that branch? Is there any roadmap/something similar or any estimations? Thank you very much.

[2018-06-30 17:04] stevehu commented on #100
Progress is very slow as I have too many other projects that need my attention. It is open for contributions and we can work together.

[2018-07-02 00:17] ceresstation commented on #82
Hey @gtaschuk! It looks like @nemaniarjun submitted a PR above that was merged? Are there still some outstanding items on this issue?

[2018-07-02 00:20] ceresstation commented on #43
Hey @eswr are you still working on this? Will need to return it to the crowd in a day or so if we don't hear back. Thanks!

[2018-07-02 18:58] ivanthemeh opened #101 "Model not updating"
No matter what I do I cannot get the model to update when changing data... I am clicking on events to change the state in a calendar and I have tried using props and state and it will not update..Please and thanks for any help.

[2018-07-03 16:44] ivanthemeh commented on #101
Im sorry I was reading a few other issues and it looks like I was trying to use the model to update the form fields values and thats not how this package works..I guess.

[2018-07-03 19:33] eswr commented on #43
hi @ceresstation
I could not even get the example to run. It is better to let someone else do it.
I selected 'stop work' on gitcoin

[2018-07-03 22:34] stevehu commented on #101
The model will only be initialized during the startup to set the default values. After that, you update the form and the model will be updated accordingly.

[2018-07-16 16:58] gtaschuk commented on #82
updated the library and got it now.  Sorry for confusion

[2018-07-16 16:59] gtaschuk commented on #82
Project Approved!

[2018-07-16 16:59] #82 closed

[2018-07-16 17:23] nemaniarjun commented on #82
I am afk right now. Will update gitcoin with the 'submission' soon.

[2018-07-16 18:58] gtaschuk opened #102 "Release Version"
@stevehu there is a lot here
https://github.com/networknt/react-schema-form/compare/0.3.11...master
that we would like to incorporate.

Is it ready for a 0.3.12  release?

[2018-07-18 13:32] #102 closed

[2018-07-18 13:32] gtaschuk commented on #102
Thanks Steve!

[2018-08-07 08:44] dogada commented on #100
I started to work on finishing migration to React 16 and Material UI 1.0. You can track progress at https://github.com/dogada/react-schema-form/tree/mui10

[2018-08-07 10:33] stevehu commented on #100
@dogada Cool!!! That is a lot of work in the last couple of days. Thanks.

[2018-08-08 14:14] dogada commented on #100
@stevehu what do you mind about modernizing whole codebase as well, i.e. switch indentation to 2 space (at the moment 4 is used) and remove semicolons? In fact switch to use https://standardjs.com/?

[2018-08-08 14:53] stevehu commented on #100
@dogada That is a great idea. It will make maintenance work much easier. Thanks.

[2018-08-11 01:58] stevehu commented on #43
@gtaschuk I think it is funded by you. What would be the next action? Thanks.

[2018-08-13 12:02] simon998yang opened #106 "How can turn all invalid fields red on submit"
Field will turn red and show validation messages only when editing it. How can mark all invalid fields red and show validation messages with them when submitting the form?

[2018-09-07 16:19] americos commented on #100
@dogada I looked at your branch and seems like you have being doing great progress 👍 Would you mind sharing what's your roadmap plan?

[2018-09-07 17:05] stevehu commented on #100
@dogada @americos I have merged the big PR from @SadMonster into react16 branch. I am testing it now and it looks like very stable. Will merge back to develop branch soon. Thanks.

[2018-09-10 13:58] dogada commented on #100
Some of the changes from above-mentioned merged PR duplicate my earlier changes. I plan to review them in detail and merge latest upstream changes next days. I expect to send PR this week

[2018-09-10 14:07] stevehu commented on #100
@dogada This is so cool. I am planning to focus on the light-portal the next several weeks and react-schema-form will be an important part of the UI. Hope we can stabilize it soon and have a release soon. Thanks.

[2018-09-17 00:37] stevehu opened #107 "resolve vulnerabilities in develop branch after merging"

[2018-09-17 01:02] stevehu opened #108 "resolve a failed test case by using the new shallow renderer"

[2018-09-17 02:05] stevehu opened #109 "switch to yarn in the example folder as npm doesnot work"

[2018-09-18 14:35] dogada commented on #100
@stevehu I repared the pull request. Please review #111

[2018-09-19 10:56] stevehu opened #113 "resolve eslint src errors"
Got the following errors when running npm test

[code]

[2018-09-21 01:53] #107 closed

[2018-09-21 01:53] #108 closed

[2018-09-21 01:53] #109 closed

[2018-09-24 18:53] JFrankfurt opened #117 "Error when select components are used in arrays."
![image](https://user-images.githubusercontent.com/5773490/45972301-6534d500-c009-11e8-94e5-c647310ff51d.png)

I'm not tracking exactly what's going on here, but I think it might have something to do with this change: https://github.com/networknt/react-schema-form/commit/d3227aeb6295e9404324b7211a773030aaafd38f
It surfaces here: https://github.com/networknt/react-schema-form/blob/master/src/Select

[2018-09-24 20:03] JFrankfurt commented on #117
Similar error for `TextFields` in arrays:
![image](https://user-images.githubusercontent.com/5773490/45975934-623ee200-c013-11e8-997f-93f79c18d5bc.png)

[2018-09-24 23:33] JFrankfurt commented on #117
See #118 for a potential fix.

[2018-09-24 23:54] stevehu opened #119 "resolve lint issues"
Run the npm test and got the following lint errors.

[code]

[2018-09-25 00:04] stevehu opened #120 "change react and material-ui to peerDependencies"

[2018-09-25 00:13] stevehu opened #121 "arrayselect seems not working in the example"
It depends on the rc-select which is another package that needs to be upgraded.

https://github.com/networknt/react-schema-form-rc-select

[2018-09-25 09:10] dogada commented on #117
If Select is used as managed React component we should always provide an value to it but I'm not sure we should select for user first value from form's titleMap. IMO when user creates new object and haven't selected an value yet, we should show select's label instead of first value from titleMap, like it's done in Material UI exampes: https://material-ui.com/demos/selects/#simple-select

Same appr

[2018-09-25 10:54] stevehu commented on #117
@dogada You are right. We cannot assume that the first value is selected. If the select field is optional and the user is not going to select anything, they are forced to de-select it.

[2018-09-26 08:37] dogada commented on #117
@stevehu, ok, so I will prepare a patch to fix initial value of select widgets.

[2018-10-05 11:59] #120 closed

[2018-10-22 17:04] T3-JacksonBush opened #130 "Material UI Typography will be depreciated"
<img width="732" alt="warning" src="https://user-images.githubusercontent.com/44375177/47306440-7c5fe600-d5fa-11e8-9363-c8e424c7db27.png">

Following that [link](https://material-ui.com/style/typography/#migration-to-typography-v2), an immediate switch to typography v2 can be made if you can simply pass useNextVariants: true when calling createMuiTheme:

[code]

Can this be done?

[2018-10-23 21:07] stevehu commented on #130
@T3-JacksonBush Thanks a lot for your help. It works like a magic.

[2018-10-25 01:50] PixelantDesign commented on #77
@gtaschuk @stevehu thoughts on @bakaoh being paid for his work here?

[2018-10-30 16:12] ponahoum opened #131 "Backend validation example"
Hi,

I easily managed to use to front validation of forms with the "pattern" attribute, when I use it, it throws a "red" error underneath the field, which works great as intended :). However, I can't find an example of backend validation, here's my situation :

-> On form submit, I call a fetch and gather the data from my API (Symfony API)
-> If the form is **not validated in the back end,** an **

[2018-10-30 20:59] stevehu commented on #131
@ponahoum Thanks a lot for your encouraging words. We are using the form as front end and using our own frameworks, light-rest-4j, light-graphql-4j and light-hybrid-4j as backend. These frameworks are leveraging the [json-schema-validator](https://github.com/networknt/json-schema-validator) for backend validation with the same schema used in the front end.

[2018-10-31 14:02] #130 closed

[2018-10-31 19:18] ponahoum commented on #131
Thank you for your answer @stevehu. Do you have a link to a simple example of the right Json to return to have backend validation errors to be displayed in front directly under the concerned unvalidated field ? A bit like what is explained here on the [Json Schema Form Doc](https://github.com/json-schema-form/json-schema-form/wiki/Documentation#inject-errors-into-form-aka-backend-validation)

I co

[2018-10-31 23:29] ponahoum commented on #131
Thank you for your answer @stevehu. You perfectly answered to my question; as you said, it makes sense to create a separate section in the ui for additional backend validation rules (ex : check the unicity of a username during a register process) and I'll do that :) Have a nice end of week

[2018-11-19 15:00] #131 closed

[2018-11-26 18:19] swetapatnaik opened #136 "Validation behaviour on load"
How can I disable the validation on load. Currently when the form loads the validation immediately fires up and shows the field errors. However I want the validation to fire up when the field is focused and then blurred without entering any data. How can I achieve this. Thanks in advance.

[2018-11-26 19:04] stevehu commented on #136
@swetapatnaik Yes. I realize this issue during my test with the example. It was introduced recently and I will mark it as a bug to get it fixed. Thanks for bringing it up.

[2018-11-27 06:11] swetapatnaik commented on #136
Thanks Steve

[2018-11-27 06:16] swetapatnaik opened #137 "onValidate is not working properly"
When I enter all the required fields and click on validate then I get the following response which is correct.
{
  "error": null,
  "missing": [],
  "valid": true
}
However when I remove one of the required fields and click on validate again, I still get the same response which is wrong. It should give me error and the valid should be false.
Can you check this and fix it.

[2018-12-05 13:00] ImmortalJoker commented on #98
Even more, some components like Select ignore default value compiled  by ComposedComponent, thus works improperly

[2018-12-05 15:02] stevehu opened #138 "add eslint-plugin-flowtype as lint is broken"

[2018-12-05 15:03] stevehu commented on #113
This has been resolved by one of the pull requests.

[2018-12-05 15:03] #113 closed

[2018-12-05 15:03] stevehu commented on #119
This has been resolved by one of the pull requests.

[2018-12-05 15:03] #119 closed

[2018-12-06 09:47] naeemba commented on #136
What is the best behavior for this issue?
In our project we disabled the validation at start, when user clicks on submit button, validation will be enabled, after that it will work as user types. Is it the correct behavior that you want too?

[2018-12-07 14:03] stevehu commented on #121
It is a bug. When selecting a drop-down menu the following error shows up.

[code]

By digging into the code, I found the issue is here in the for loop.

[code]

[2018-12-07 14:17] #121 closed

[2018-12-07 14:17] #138 closed

[2018-12-07 14:22] stevehu commented on #100
With a lot of help from the community, we can say we have upgraded to the latest material-ui successfully. Thanks a lot for your help.

[2018-12-07 14:22] #100 closed

[2018-12-07 14:22] #101 closed

[2018-12-07 14:24] #75 closed

[2018-12-07 14:31] stevehu commented on #106
Is this the current behavior? We have a bug right now that need to be fixed as the form will be validated right after the initialization. During the editing, the validation is done automatically so the invalid fields are always showing up until you fill in all valid values. Can you elaborate a little bit more details? Thanks.

[2018-12-07 15:01] stevehu opened #139 "add a single select example with customized labels"

[2018-12-08 18:29] D1plo1d opened #140 "Strawman: Rewrite on top of formik"
There are multiple issues relating to validation at the moment (for example #136 and #106 cause buggy form bevaior in https://github.com/tegh/tegh).

https://github.com/jaredpalmer/formik implements form validation and many other basic form features that reat-schema-form requires and could be used as the foundation of a future version of react-schema-form should we choose to rebuild on top of it.

[2018-12-11 06:34] D1plo1d commented on #140
Update: I've put together a proof of concept formik schema form. If anyone wants to make it into a library go for it:
https://github.com/tegh/tegh/tree/d58c416379d12f19e9706595b0c036f153e7fb44/packages/tegh-web-ui/src/pages/connected/config/components/FormikSchemaForm

[2018-12-12 02:40] stevehu commented on #140
@D1plo1d Thanks a lot for the effort. I haven't read the document for formik yet but I am open for all options. Basically, the react-schema-form is just upgraded to the latest react and material-ui and it is not stable yet. I am planning to spend some time to work on these issues once I complete the current tasks. The react-schema-form is tightly integrated with our backend framework light-hybrid-

[2018-12-12 02:43] stevehu commented on #137
@swetapatnaik I am not able to reproduce what you have described. I am wondering if you could point to the form name in the example that I can reproduce it. Also, it would be better to provide a little bit more details on the steps to reproduce it. Thanks a lot for your help.

[2018-12-12 02:45] stevehu commented on #136
@naeemba That would be the right behavior. Currently, if you just load the form normally, it validates the form immediately and shows all the invalid fields in red. How do you disable the validation at startup? Thanks.

[2018-12-12 03:37] D1plo1d commented on #140
@stevehu I hear you on having too many repos to manage. For now I'm going to leave the proof of concept as is because it met my needs and I too have other work I need to attend to.

Formik is definitely worth a look. What I learned in my experiment creating the proof of concept is that by building on top of formik it took very little code to get validations working better then react-schema-form wi

[2018-12-12 13:18] naeemba commented on #136
Actually as we made some minor changes to our version of this project, I am not sure where to start on this, but I'll work on this issue and will create a PR for that.
Thanks

[2018-12-13 19:43] stevehu opened #141 "help is not showing up on the form"

[2018-12-13 19:49] stevehu commented on #141
The Help component is used to inject text on the form. Now you can control how the text is shown with props. I also add an example call Help so that you can play with it in the example application.

[code]

[2018-12-13 19:50] #139 closed

[2018-12-13 19:50] #141 closed

[2018-12-18 13:32] struankl opened #142 "Conditionals in array objects"
If you have an array of objects, with some elements of the objects being conditional on other elements, then the condition processing needs to receive the element key so it can be used to pull the correct index from the array. Easiest way to achieve this is to pass the form object in the scope - I'm sure this used to be included in an older iteration.

I've made a fix and will issue a pull request

[2018-12-18 18:45] #142 closed

[2018-12-23 15:44] stevehu commented on #136
@naeemba Thanks a lot for your PR. I tested with the example and it works perfectly.

[2018-12-23 15:44] #136 closed

[2018-12-25 12:34] naeemba opened #145 "Put asterisk for required fields"
There should be specification for required fields.

[2018-12-27 10:06] naeemba opened #147 "Add some functionalities to utils"
Add `setValue`, `getValue` and `removeEmpty` functions to utils.
`setValue`: It will accept 3 arguments: `projection`, `object`, `value`
It will set the `value` to `object` based on `projection`

`getValue`: It will accept 2 arguments: `projection`, `object`
It will find the corresponding value inside `object` based on `projection`

Projection in `getValue` and `setValue` can be of these two types

[2018-12-31 11:53] stevehu opened #151 "eslint issues in props validation"
The CircleCI build failed due to eslint issues below..

[code]

fixed them by adding to type Props object or ignore the line in ComposedComponent.

[2018-12-31 11:57] stevehu commented on #151
@naeemba could you please review if this is the proper approach? Thanks.

[2018-12-31 12:16] naeemba commented on #151
@stevehu Actually I did not get that, do we have some eslint errors in `Array.js` `ComposedComponent.js` `MultiSelect.js` and `Select.js`? cause when I run `yarn lint` there is no error for me.
Also as I know, there is no `key` inside props for `Select` or `MultiSelect` and the key is in `form` prop.
I am not sure, but I think I did not fully check eslint errors, so if you can help me see build th

[2018-12-31 12:43] stevehu commented on #151
yarn lint is OK but npm run lint got extra checks and shown errors. I know it doesn't make sense but I guess it should no negative impact.

[2018-12-31 12:45] naeemba commented on #151
Actually I ran `npm run lint` just now, and it seems there is no error there too. Not sure what is different here, can you check your eslint version? I updated it to `5.11.1` in this branch and maybe it caused the problem.

[2018-12-31 12:53] stevehu commented on #151
if you are using yarn install, then there is no problem. It only occurs if you are using npm install :)

[2018-12-31 13:07] naeemba commented on #151
Actually I cannot install using npm, it shows me some errors:
[code]
but using yarn install, it works fine!

[2018-12-31 13:08] stevehu commented on #151
you need to remove node_modules and package-lock.json first.

[2018-12-31 13:09] naeemba commented on #151
Yeah, I found it now, I am rebuilding the project. Thanks

[2018-12-31 13:16] naeemba commented on #151
Actually I saw the errors just now, let me fix them and create another PR for that. thanks

[2018-12-31 13:34] naeemba commented on #151
I fixed eslint errors, can you check it again?
And also I wanted to ask do you know why my name isn't in the contributor list of this library? Actually I have few commits on this project but my name isn't on the contributor list page of the project.

[2018-12-31 14:09] stevehu commented on #151
It works perfectly. Thanks. It shows in the issue you are a contributor but I cannot find your name in the Contributors section. We have another developer got a similar issue before in another repo and the root cause is that he has two GitHub accounts. I realized that the commits don't associate with your avatar int the PR(https://github.com/networknt/react-schema-form/pull/152). Are you using IDE

[2018-12-31 14:11] naeemba commented on #151
Aha, maybe that is the cause of problem. let me check that, I use IDE for committing and pushing to git, thank you so much for your help.

[2019-01-02 13:54] #147 closed

[2019-01-02 18:17] stevehu commented on #117
@JFrankfurt I think this has been fixed already. Could you please confirm and close the issue? Thanks.

[2019-01-02 18:19] stevehu commented on #106
We have released several versions recently and the library has been tested with several applications. I think this issue is fixed already.

[2019-01-02 18:19] #106 closed

[2019-01-02 18:20] #57 closed

[2019-01-02 18:22] stevehu commented on #98
@XaviTorello @ImmortalJoker I think this issue is resolved already in the latest version. Could you please confirm and close the issue? Thanks.

[2019-01-04 17:05] JFrankfurt commented on #117
closing because this is pretty stale - i don't know if it's still relevant, but I remember fixing it in a fork: https://github.com/TruSet/react-schema-form

[2019-01-04 17:05] #117 closed

[2019-01-04 19:04] stevehu commented on #117
@JFrankfurt Thanks for your help. We have fully upgraded to the latest react and material-ui now and a lot of the components are rewritten.

[2019-01-08 03:58] enlznep opened #155 "Is there proper documentation for this?"

[2019-01-08 12:56] stevehu commented on #155
@enlznep At the moment, we only have the readme. I am planning to add a document section at https://doc.networknt.com/consumer/react-schema-form/ but this has just started. Although this library is part of the light-4j platform, it is kind of independent, I am not sure if we should have a separate document site or not. What do you think?

[2019-01-15 12:57] naeemba opened #156 "Fix error message and description on Select"

[2019-01-15 14:26] stevehu opened #158 "upgrade some dependencies for security"

[2019-01-15 14:27] #158 closed, assigned to nobody

[2019-01-15 14:31] stevehu commented on #156
@naeemba Thanks for the PR. It is released with version 0.6.10

https://github.com/networknt/react-schema-form/releases/tag/0.6.10

[2019-01-15 14:31] #156 closed

[2019-01-16 07:44] naeemba commented on #156
Thank you

[2019-03-25 13:59] naeemba opened #160 "Incorrect errors for not required null fields"
Currently, if you try to validate an object with some null values for properties of that object (These properties are not required), it will return some validation errors, which is incorrect.

[2019-03-26 12:47] stevehu commented on #160
@naeemba I have published 0.6.12 for the fix. Thanks a lot for your help.

https://github.com/networknt/react-schema-form/releases/tag/0.6.12

[2019-03-26 12:47] #160 closed

[2019-03-26 13:36] naeemba commented on #160
Thank you so much, I really hope I find some time to improve the documentation and also upgrade the dependencies.

[2019-03-26 13:59] stevehu commented on #160
I am currently using it for light-portal development. I will see if I can start the documentation as part of the light-platform and link from this project.

[2019-04-30 22:28] fauxsoup opened #162 "Array of string enum items produces no form control"
I get an empty div when using the following schema:

[code]

I expect to receive an array control allowing me to add/remove items, with a selection menu or radio buttons to select strings.

I am using React 16.7.0. There is no error output in the console.

Please let me know if I can provide any other information.

[2019-05-01 12:44] stevehu commented on #162
@fauxsoup I think this example is the same as yours. The accessLevel is an array of enum in the example.

https://github.com/networknt/react-schema-form/blob/master/example/data/arrayselect.json

[2019-05-01 15:18] fauxsoup commented on #162
Thank you; I was able to get it working by explicitly specifying the multiselect component. When reviewing everything, it looks like by default it attempts to use the checkboxes control, which does not work with this schema.

I will close this issue since I'm able to work around.

[2019-05-01 15:18] #162 closed

[2019-05-01 15:54] stevehu commented on #162
you can specify checkboxes vs multi-select in the form section.

[2019-06-04 14:24] stevehu opened #164 "resolve the lint issue for fieldset"

[2019-06-04 14:24] #164 closed

[2019-06-18 13:07] stevehu opened #168 "resolve lint issues"

[2019-06-18 13:08] #168 closed

[2019-09-29 14:24] stevehu opened #176 "fix the security issue reported by npm with npm audit fix"

[2019-09-29 14:25] #176 closed

[2019-11-14 10:19] lukaszrys opened #178 "Is it possible to add custom format?"
The original plugin (http://schemaform.io/examples/bootstrap-example.html) has the Color pallette in "Kitchen Sink - More stuff").

Unfortunately, I do not see this one here. Is it possible to create it?

[2019-11-14 14:41] stevehu commented on #178
It looks pretty cool and I think it is very easy to implement it. The look and feel might be a little different since we are using the material-ui instead of bootstrap. There might be other material-ui components available thought. Would you like to try it out and submit a PR?

https://material-ui.com/customization/color/

[2019-11-14 19:25] naeemba commented on #178
@lukaszrys I think you can add any component you want too, the `SchemaForm` object that you can import it using `import { SchemaForm } from 'react-schema-form'` accepts a property named `mapper`, the mapper is an object which can be like this
[code]
In your component you can debug the probs, they are straight forward, also it may help to use our color picker: if you are implementing your color pic

[2019-11-29 19:29] stevehu opened #179 "upgrade dependencies to the latest and node 12 is needed"

[2019-11-29 19:51] stevehu commented on #179
e2924ba934b89270f26f6c2764c7843fa88b946f

[2019-11-29 19:51] #179 closed

[2019-11-29 21:01] stevehu opened #181 "upgrade to the latest example in the gh-pages branch"

[2019-11-29 21:02] #181 closed

[2019-11-29 23:20] stevehu opened #182 "move the webpack-config from dependencies to devDependencies"

[2019-11-29 23:20] #182 closed

[2019-11-30 19:07] stevehu opened #183 "rebuilt the example code with webpack"

[2019-11-30 19:07] #183 closed

[2019-12-01 05:42] stevehu opened #184 "add README.md to the example folder"

[2019-12-01 05:42] #184 closed

[2019-12-20 20:54] stevehu opened #186 "resolve a small lint issue"

[2019-12-20 20:55] #186 closed

[2020-04-21 19:14] stevehu opened #194 "fix the logic for default value for Select component"
The default value defined in the schema can not be displayed in the enum string filed on the form.

After the fix, the logic for the default value calculation in the constructor.

1. default value should be started with [] or "" depends on if it is multiple or singular.
2. if form.default is defined, then use it, otherwise, use the form.schema.default instead.
3. check if the model has a value and

[2020-04-21 19:17] #194 closed

[2020-04-24 12:18] stevehu opened #195 "add setDefault to populate default value from the Select constructor"
In the previous https://github.com/networknt/react-schema-form/issues/194, we have updated the default value logic to ensure that you can define the default in the schema. However, the model has not updated automatically and the final submission might have validation error. The fix is to call the setDefault in the constructor after the state is updated.

[2020-04-24 12:18] #195 closed

[2020-05-05 12:22] stevehu opened #196 "add timestamp component to default to the current Date()"
This is a very specific component that sets the default date() and it is updatable.

[2020-05-05 12:22] #196 closed

[2020-05-05 12:53] stevehu commented on #83
This has been done recently.

[2020-05-05 12:53] #83 closed

[2020-05-05 12:54] #140 closed

[2020-05-07 01:43] stevehu opened #197 "add subjects form to demo two level nested arrays in example"

[2020-05-07 01:44] #197 closed

[2020-05-17 01:33] stevehu opened #198 "add two more examples for number and restaurant"

[2020-05-17 01:34] #198 closed

[2020-05-19 15:09] stevehu opened #199 "add payment and pickup form for maproot.net"

[2020-05-19 15:10] #199 closed

[2020-05-31 19:16] stevehu opened #200 "add merchant email to the payment form"

[2020-05-31 19:16] #200 closed

[2020-07-29 00:26] stevehu opened #204 "update Checkbox to functional component with default value handling"
Also, add prop-types to the dependencies.

[2020-07-29 00:38] #204 closed

[2020-08-01 00:54] stevehu opened #207 "add dbInfo to the light-codegen config form conditionally"

[2020-08-01 00:55] #207 closed

[2020-09-08 23:47] stevehu opened #211 "update build environment with create-react-library"
The customized Webpack scripts and environment setup were complex and hard to maintain. In order to upgrade dependencies easily, we have re-created the project with create-react-library and change the structure a little bit. Overall, there is no feature change so far.

[2020-09-08 23:49] #211 closed

[2020-09-09 00:38] stevehu opened #212 "Run the lint with the new configuration and remove lib folder"

[2020-09-09 13:36] stevehu opened #213 "add dev dependencies to fix unit test cases"

[2020-09-09 13:37] #212 closed

[2020-09-09 13:37] #213 closed

[2020-09-09 18:21] stevehu opened #214 "Add markdown field to support light-portal forms"

[2020-09-09 18:22] #214 closed

[2020-09-09 21:38] stevehu opened #215 "resolve the value update for checkbox"
With the update in the ComposedComponent.onChangeValidate to take type from the form before schema, we need to add checkbox switch for when setting the value.

[2020-09-09 21:39] #215 closed

[2020-09-14 12:49] stevehu opened #216 "add several examples for testing and light-portal"

[2020-09-14 12:50] #216 closed

[2020-09-15 04:46] stevehu opened #217 "add taxonomy and example for light-portal category management"

[2020-09-15 04:47] #217 closed

[2020-09-15 14:46] stevehu opened #218 "change the taxonomy wrapper to remove the root style"

[2020-09-15 14:46] #218 closed

[2020-09-15 21:04] stevehu opened #219 "switch taxnomy to react-checkbox-tree implementation"

[2020-09-15 21:04] #219 closed

[2020-09-18 23:46] stevehu opened #220 "resolve a react warning after upgrade to 16.13.x"
Warning: Cannot update a component from inside the function body of a different component.

The problematic component is the select as it calls the setDefault in the constructor. After converting to functional component and calls the setDefault from useEffect, the problem is resolved.

[2020-09-18 23:47] #220 closed

[2020-09-20 18:18] stevehu opened #221 "update Select filed to set the currentValue"
This was a bug introduced when converting it to a functional component.

[2020-09-20 18:19] #221 closed

[2020-09-21 18:58] stevehu opened #222 "rollback ComposedComponent type to schema type"
use the schema type so that we can have a limited number of types to handle. This gives us the flexibility to create add-ons without touching the code of the main project.

[2020-09-21 18:59] #222 closed

[2020-11-01 02:26] stevehu opened #223 "add X-CSRF-TOKEN to the header to integrate with light-portal"

[2020-11-01 02:27] #223 closed

[2020-12-01 22:30] stevehu opened #224 "add logger-config example"

[2020-12-01 22:31] #224 closed

[2021-12-27 01:22] stevehu opened #236 "upgrade to react 17 and mui 5"

[2021-12-27 01:23] #236 closed

[2021-12-27 02:12] stevehu opened #237 "upgrade to the latest dependency and fix the es-lint"

[2021-12-27 02:13] #237 closed

[2022-01-22 15:10] stevehu opened #241 "update textarea rowsMax to maxRows as the new version of mui 5 changed attribute name"

[2022-01-22 15:11] #241 closed